[submodule "library/nnsdk"]
	path = library/nnsdk
	url = git@github.com:gamestabled/auto_nnsdk.git
[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/3dsdecomp/asm-differ
